{% extends 'layout.html' %}
{% block content %}
<header>
    <h1 class="title">Welcome back, please login again</h1>
</header>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="field">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">Login:</label>
        <div class="control">
            {{ form.username }}
        </div>
    </div>
        <div class="field">
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}">Password:</label>
        <div class="control">
               {{ form.password }}
        </div>

    </div>
    <button type="submit" class="button is-primary">Login</button>
</form>
{% endblock %}