{% extends 'layout.html' %}


{% block content %}
    <div class="header">
         <h1 class="title">Sign up</h1>
    </div>

 <form method="post">
   {% csrf_token %}
   {% for field in form %}
     <div class="field">
        <div class="label">
       {{ field.label_tag }}
        </div>
        <div class="control">
         {{ field }}
        </div>
       {% for error in field.errors %}
         <p style="color: red">{{ error }}</p>
       {% endfor %}
     </div>
   {% endfor %}
   <button type="submit" class="button is-primary">Sign up</button>
 </form>

{% endblock %}