{% extends "layout.html" %}

{% block header_script %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block header_styles %}
<style>
    .listing-image {
      display: block;
      max-width:230px;
      max-height:95px;
      width: auto;
      height: auto;
       margin: auto;
    }

    figure {
        width: 230px;
        height: 95px;

        display:block;
    }
</style>
{% endblock %}

{% block content %}
<div id="app">
    <listing-browser/>
</div>
{% endblock %}

{% block scripts %}
<script type="text/x-template" id="browser-template">
    <div>
        <section class="section">
             <h1 class="title">Marketplace</h1>
             <p>Here are the current listing on the marketplace</p>
        </section>

        <listing-collection :listings="listings"/>
    </div>
</script>


<script type="text/x-template" id="listing-collection">
    <section class="section">
        <listing-record v-for="listing in listings" :listing="listing" :key="listing.id"></listing-record>
    </section>

</script>

<script type="text/x-template" id="listing-record">
    <article class="media">
        <figure class="media-left">
            <img :src="listing.image" class="listing-image">
        </figure>
        <div class="content">
            <header>
                <h2>[[listing.title]]</h2>
            </header>
            <p>
                <strong>Price:</strong> [[listing.amount]]<br/>
                [[listing.text]]
            </p>
        </div>
    </article>

</script>

<script>
    Vue.mixin({delimiters: ['[[', ']]']});

    Vue.component('listing-browser', {
        template: '#browser-template',
        data: function () {
            return {
                listings: [],
                search_terms: ''
            }
        },
        mounted() {
            axios.get('/api/marketplace/listings').then((response) => {
                this.listings = response.data;
            })
        }
    });

    Vue.component('listing-record', {
        template: '#listing-record',
        props: ['listing']
    });

    Vue.component('listing-collection', {
        template: "#listing-collection",
        props: ['listings']
    });

    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {},
        methods: {
            greet: function (name) {
                console.log('Hello from ' + name + '!')
            }
        }
    });
</script>
{% endblock %}