{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="application/javascript" src="{% static "alert.js" %}"></script>
</head>
<body>
    <p>Welcome Home!</p>
</body>
</html>
