{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GeekExchange</title>
    <link rel="stylesheet" href="{% static "css/bulma/bulma.min.css" %}">
    {% block header_script %}
    {% endblock %}
    {% block header_styles %}
    {% endblock %}
</head>
<body>
<section class="hero is-info">
    <div class="container">
        <h1 class="title">
            GeekExchange
        </h1>
        <nav class="tabs">
            <div class="container">
                <ul>
                    <li><a href="{% url 'marketplace' %}">All Listings</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'listing-user' %}">My Listings</a></li>
                        <li><a href="{% url 'subscriptions' %}">Topup Credits ( Current: {{ credits }})</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="navbar-end">
                {% if user.is_authenticated %}
                <a href="{%  url 'logout' %}">Logout</a>
                {% else %}
                <a href="{%  url 'login' %}">Login</a>
                <a href="{%  url 'signup' %}">Register</a>
                {% endif %}
            </div>
        </nav>
    </div>
</section>
{% if messages %}
    {% for message in messages %}
    <div class="notification is-primary">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

<section class="section">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</section>
{% block scripts %}
{% endblock %}
</body>
</html>
