{% extends "layout.html" %}

{% block content %}
<header style="margin-bottom: 10px">
    <h1 class="title">Add Listing</h1>
    <h2 class="subtitle">Credits left: {{ credits }}</h2>
</header>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="field">

        <label for="{{ form.title.id_for_label }}">Title:</label>
        <div class="control">
            {{ form.title }}
        </div>
        <p class="help is-danger">{{ form.errors.title }}</p>
    </div>
        <div class="field">

        <label for="{{ form.text.id_for_label }}">Description:</label>
        <div class="control">
        {{ form.text }}
        </div>
        <p class="help is-danger">{{ form.errors.text }}</p>
    </div>
    <div class="field">

        <label for="{{ form.amount.id_for_label }}">Amount:</label>
        <div class="control">
        {{ form.amount }}
        </div>
        <p class="help is-danger">{{ form.errors.amount }}</p>
    </div>
     <div class="field">

        <label for="{{ form.image.id_for_label }}">Image:</label>
         <div class="control">
        {{ form.image }}
         </div>
         <p class="help is-danger">     {{ form.errors.image }}</p>
    </div>
    <input type="submit" class="button is-primary" value="Create"/>
    <a href="{% url 'listing-user' %}" class="button is-danger">Cancel</a>
</form>
{% endblock %}