{% extends 'layout.html' %}

{% block content %}
<header>
    <h1 class="title">Update Listing</h1>
</header>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="field">

        <label for="{{ form.title.id_for_label }}">Title:</label>
        <div class="control">
            {{ form.title }}
        </div>
        <p class="help is-danger"> {{ form.title.errors }}</p>
    </div>
        <div class="field">

        <label for="{{ form.text.id_for_label }}">Description:</label>
        <div class="control">
        {{ form.text }}
        </div>
        <p class="help is-danger">{{ form.text.errors }}</p>
    </div>
    <div class="field">
        <label for="{{ form.amount.id_for_label }}">Amount:</label>
        <div class="control">
        {{ form.amount }}
        </div>
        <p class="help is-danger"> {{ form.amount.errors }}</p>
    </div>
      <div class="field">

        <label for="{{ form.image.id_for_label }}">Image:</label>
        <div class="control">
            {{ form.image }}
        </div>
        <p class="help is-danger"> {{ form.image.errors }}</p>
    </div>
    <button type="submit" class="button is-primary">Update</button>
   <a href="{% url 'listing-user' %}" class="button is-danger">Cancel</a>
</form>
{% endblock content %}