{% extends 'layout.html' %}

{% block header_styles %}
<style>
    .listing-image {
      display: block;
      max-width:230px;
      max-height:95px;
      width: auto;
      height: auto;
       margin: auto;
    }

    figure {
        width: 230px;
        height: 95px;
        display:block;
    }
</style>
{% endblock %}

{% block content %}
<div class="header">
    <h1 class="title">Listings</h1>
    {% if credits > 0 %}
    <a href="{% url 'listing-add' %}" class="button is-primary">Add New</a>
    {% else %}
    <a href="{% url 'subscriptions' %}" class="button is-primary">Top Up Posting Credits</a>
    {% endif %}
</div>

<section class="section">
{% for listing in object_list %}
    <article class="media">
        <figure class="media-left">
             <img src="{{  listing.image.url}}" class="listing-image" />
        </figure>
        <div class="media-content">
            <header>
                <h2>{{listing.title}}</h2>
            </header>
            <section style="margin-bottom:10px">
                <strong>Price:</strong> {{listing.amount}}<br/>
                {{ listing.text}}
            </section>
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                         <a href="{% url 'listing-update' listing.id %}" class="button is-primary">Edit</a>
                    </div>
                    <div class="level-item">
                        <a href="{% url 'listing-delete' listing.id %}" class="button is-danger">Delete</a>
                    </div>
                </div>
            </nav>
        </div>
    </article>
    {% empty %}
    <p>No listing yet</p>
{% endfor %}
</section>
{% endblock %}