{% extends 'layout.html' %}

{% block content %}
<header>
<h1 class="title">Subscribe to list your board games!</h1>
<h2 class="subtitle">Only $5.00!</h2>
</header>
<form action="{%  url 'charge' %}" method="post">
    {% csrf_token %}
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ key }}"
        data-description="GeekExchange Lifetime Subscription"
        data-amount="500"
        data-locale="auto">
    </script>
</form>
{% endblock %}